@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Varela+Round&display=swap');

body {
  font-family: "Sofia Sans", sans-serif;
  @apply bg-gray-200 text-gray-800;
  /* font-family: "Varela Round", sans-serif; */
}

.sofia-sans {
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
}


@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes leave {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }
}



.animate-enter {
  animation: enter 0.2s ease-out forwards;
}

.animate-leave {
  animation: leave 0.2s ease-in forwards;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* .container {
  width: 300px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
} */

.slider {
  position: relative;
  width: 100%;
}

.slider input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  /* background: #007bff; */
  cursor: pointer;
  appearance: none;
}

.slider-track,
.slider-range {
  position: absolute;
  height: 4px;
  border-radius: 4px;
}

.slider-track {
  width: 100%;
  background: #ddd;
  z-index: 1;
}

.slider-range {
  /* background: #007bff; */
  z-index: 2;
}

.thumb-left {
  z-index: 3;
}

.thumb-right {
  z-index: 4;
}

.values {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 33.33%;
  }
}
